main
  font-family: $font-family

.main-content
  margin: 20px
  display: block
  justify-items: evenly
  font-family: $font-family

.movie-selection-content
  @include flex(row, space-evenly,center)

.section-movie-card-grid
  flex-wrap: wrap

.btn-movie-selection
  background-color: $background-color
  color: $color-primary
  border: solid 2px
  font-size: 35px
  border-radius: 16px
  cursor: pointer
  padding: 20px
  &:hover
    background-color: #797979
  @include cell
    display: none
  @include tablet
    display: block
    flex-wrap: wrap
    font-size: 20px
    padding: 10px  
  @include web
    flex-wrap: wrap
    font-size: 35px
    padding: 20px           

section
  h2 
    @include text($color-primary, 3rem, bold, 1.5)
    margin: 0
    padding: 20px
    text-align: left
    

img
  width: 340px
  height: 520px  
  border-radius: 30px

.section-movie-card-grid
  @include flex(row,space-around,center)

.movie-card-grid
  margin: 30px
  cursor: pointer
  h3
    font-size: 30px
    text-align: center

.flip-movie-card 
  width: 340px
  height: 520px  
  color: black
  font-weight: bold   
  perspective: 2000px
  &-inner
    position: relative
    width: 100%
    height: 100%
    box-shadow: 0 4px 20px rgba(#000,0.2)
    border-radius: 28px
    transition: all 550ms cubic-bezier(.1,.22,.8,1.13)
    transform-style: preserve-3d
  &-front, &-back  
    position: absolute
    width: 100%
    height: 100%
    border-radius: 30px
    backface-visibility: hidden
  &-front
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  &-back
    font-size: 20px
    text-align: left
    padding: 10px
    display: grid
    place-items: center
    background-color: #f50606ec
    transform: rotateY(180deg)
  &:hover .flip-movie-card-inner
    transform: rotateY(-180deg)    
.btn-movie-details
  font-size: 25px
  background-color: #000000
  border-radius: 20px
  width: 60%
  color: #ffffff
  &:hover
    background-color: #b6b6b6    



